<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Exclusão de Membro</div>
                <div class="panel-body">
                    <div ng-if="member.resp.error">
                        <div class="alert alert-danger">
                            <strong>Whoops!</strong> Alguma coisa errada aconteceu.<br><br>
                            <div>
                                Servidor diz: {{ member.resp.message }}
                            </div>
                        </div>
                        <button type="button" class="btn btn-warning" onclick="javascript:window.history.go(-1)">
                            Voltar
                        </button>
                    </div>
                    <div ng-hide="member.resp.error">
                        <p>Dados da Nota a ser excluída</p>
                        <ul>
                            <li><strong>Title:</strong> {{ member[0].name }}</li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="button" class="btn btn-danger" ng-click="delete()">Excluir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>