<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Editar Cliente</div>
                <div class="panel-body">

                    <form class="form-horizontal" role="form" name="form" method="POST" ng-submit="save()">
                        <div class="form-group"
                             ng-class="{'has-error' : !form.name.$valid && form.name.$touched}">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="name" ng-model="projectFile.name"
                                       required>
                                <div class="help-block" ng-messages="form.name.$error"
                                     ng-show="form.name.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group"
                             ng-class="{'has-error' : !form.description.$valid && form.description.$touched}">
                            <label class="col-md-4 control-label">Note</label>
                            <div class="col-md-6">
                                <textarea class="form-control" name="description" ng-model="projectFile.description"
                                          ng-required="true"></textarea>
                                <div class="help-block" ng-messages="form.description.$error"
                                     ng-show="form.description.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Alterar
                                </button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Salve o arquivo</label>
                            <div class="col-md-6">
                                <file-download id-project="{{ projectFile.project_id }}" id-file="{{ projectFile.id }}"></file-download>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>