<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Projetos</div>
                <div ng-if="error" class="text-center">
                    <p>Nenhum projeto encontrado para você!</p>
                    <p>Servidor diz: {{message}}</p>
                </div>
                <div class="panel-body" ng-if="!error">
                    <table class="table table-bordered table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Progress</th>
                                <th>status</th>
                                <th>Due Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="project in projects">
                                <td>{{ project.name }}</td>
                                <td>{{ project.description }}</td>
                                <td>{{ project.progress }}</td>
                                <td>{{ project.status }}</td>
                                <td>{{ project.due_date | dateBr }}</td>
                                <td>
                                    <a ng-href="#/project/{{project.id}}/edit">Editar</a> |
                                    <a ng-href="#/project/{{project.id}}/remove">Excluir</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>